/* styles.css */

.image-background {
    background-image: url('../public/pokemon.calc.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.response-container {
    /* margin: 0;
    padding: 0; */
    /* height: 100vh; */
    /* max-width: 100vw; */
    padding: 60px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 25px;
}

.back-button {
    position: absolute;
    left: 10px;
    display: inline-block;
    background-color: rgba(255, 204, 0, 0.7);
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
    background-color: #ffcc00;
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

.pokemon-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 0;
    text-transform: capitalize;
}

.type-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.type-box {
    background-color: rgba(255, 204, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.type-label {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.blank {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    background-color: black;
}

/* example response item bg colors to update later*/
.water { background-color: #6890f0; }
.rock { background-color: #b8a038; }
.electric { background-color: #f8d030; }
.fire { background-color: #f08030; }
.grass { background-color: #78c850; }
.ice { background-color: #98d8d8; }
.ghost { background-color: #705898; }
.bug { background-color: #A6B91A; }
.normal { background-color: #A8A77A; }
.fighting { background-color: #C22E28; }
.poison { background-color: #A33EA1; }
.ground { background-color: #E2BF65; }
.flying { background-color: #A98FF3; }
.psychic { background-color: #F95587; }
.rock { background-color: #B6A136; }
.ghost { background-color:#735797; }
.dragon { background-color:#6F35FC; }
.dark { background-color:#705746; }
.steel {background-color:#B7B7CE; }
.fairy {background-color:#D685AD; }
